{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/styles/game.css">
{% endblock %}

{% block body %}
<div class="topbar glassmorph text-dark">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-between">
            <div class="row justify-content-between align-items-center px-3 py-2">
                <div id="room" class="col-10 d-flex flex-column justify-content-center align-items-start">
                    <h1>ROOM {{ room }}</h1>
                </div>
                <div id="next" class="col-2 row justify-content-between align-items-center pe-5">
                    <div id="tracker" class="col-10 d-none d-md-block">
                        <h1 class="tracker">01/20</h1>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center align-items-end">
                        <i class="fa fa-solid fa-forward success btn-next"></i>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs d-flex d-md-none flex-row justify-content-between">
                <li class="nav-item">
                    <button
                        id="tab-player" 
                        class="nav-link active" 
                        data-bs-toggle="tab" 
                        data-bs-target="#tabPlayer" 
                        type="button" 
                        role="tab" 
                        aria-controls="tabPlayer" 
                        aria-selected="true"
                    > Musique
                    </button>
                </li>
                <li class="nav-item">
                    <button
                        id="tab-players" 
                        class="nav-link" 
                        data-bs-toggle="tab" 
                        data-bs-target="#tabPlayersContent" 
                        type="button" 
                        role="tab" 
                        aria-controls="tabPlayersContent" 
                        aria-selected="true"
                    > Joueurs
                    </button>
                </li>
                <li class="nav-item">
                    <button 
                        class="nav-link" 
                        type="button" 
                        disabled
                    ><h1 class="tracker">01/20</h1>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="tab-content game">
    <div id="tabPlayer" role="tabpanel" aria-labelledby="tab-player" class="tab-pane fade show active game-col glassmorph m-0">
        <div class="d-flex flex-column align-items-center h-100 w-100 p-3">
            <div class="player d-flex flex-column justify-content-center align-items-center">
                <div id="timer" class="d-flex flex-column justify-content-center align-items-center d-none">
                    <div id="countdown">{{ hide + 1 }}</div>
                </div>
                <div id="player"></div>
            </div>
            <div class="row answerRow">
                <div class="col-12 d-flex flex-column align-items-center justify-content-end p-3">
                    <span id="answer" class="info-span"></span>
                    <span id="category" class="info-span">Catégorie:</span>
                    <span id="points" class="info-span">Points:</span>
                </div>
            </div>
        </div>
    </div>
    <div id="tabPlayersContent" role="tabpanel" aria-labelledby="tab-players" class="tab-pane fade game-col glassmorph m-0">
        <div class="d-flex flex-column align-items-center h-100 w-100 p-1">
            <div id="playerListTopBar" class="row justify-content-around align-items-center">
                <span class="info-span">Joueurs</span>
            </div>
            <ul id="playerList" class="list-group sortable-list p-1"></ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    const iAmMaster = {{ master }} === 1;
    const thisRoom = {{ room }};
    const token = '{{ token }}';
    const videos = JSON.parse('{{ videos|json_encode(constant('JSON_HEX_APOS'))|raw }}');
    const HIDE = {{ hide }};
    const colors = gradientColorsCompute(HIDE);
    let width = 0;
    let current = 0;
    var player = null;
    let timerPaused = false;
    let answerGiven = false;
</script>
<script src="/scripts/clients/game.js"></script>
<script src="/scripts/back-office/game.js"></script>
{% endblock %}